body{
	background: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Gaya khusus untuk tautan "My shopping cart" */
.container > a {
    text-decoration: none;
}
.container > a h2 {
    text-decoration: none; /* Menghapus underline */
    color: black; /* Mengubah warna teks menjadi hitam */
}

.container > a h2:hover {
    color: black; /* Memastikan tetap hitam saat hover */
    text-decoration: none; /* Menghapus underline saat hover */
}

.cart{
	margin: 20px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}

header {
    position: fixed; /* Tetap di atas layar */
    top: 0;
    left: 0;
    width: 100%; /* Pastikan header selebar layar */
    z-index: 1000;
    background-color: #fff; /* Latar belakang putih */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan untuk memisahkan dengan konten */
    padding: 20px 50px; /* Spasi dalam header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
  }
  
  /* Spasi untuk menghindari header menutupi konten utama */
  main {
    margin-top: 80px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  nav ul li a {
    font-size: 24px;
    color: black; /* Menjadikan warna ikon hitam */
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #f85a4f; /* Warna saat hover */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }